// todo: disabled button styles
// If you want to override variables do it here
@import "variables";
button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

a {
  color: $primary;
}

.c-app {
  background-color: #F0F0F0;
}

// todo: temp c-dark-theme plumbing for select option
.c-dark-theme option {
  background-color: #34343b;
  border: 1px solid #23282c;
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}

.rbc-event {
  background-color: $primary !important;
}
