// todo: disabled button styles
// If you want to override variables do it here
@import "variables";
button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

a {
  color: $primary;
}

.c-app {
  background-color: #F0F0F0;
}

$calendarBorder: #333;

.c-app:not(.c-dark-theme) {
  background-color: #EDF2F5;

  .c-footer {
    background-color: #EDF2F5;
  }
}


// todo: temp c-dark-theme plumbing for select option
.c-dark-theme {
  option {
    background-color: #34343b;
    border: 1px solid #23282c;
  }

  .rbc-time-view {
    border: 1px solid $calendarBorder !important;
  }

  .rbc-time-content {
    border-top: 2px solid $calendarBorder !important;

  }

  .rbc-time-header.rbc-overflowing {
    border-right: 1px solid $calendarBorder !important;
  }

  .rbc-header, .rbc-timeslot-group {
    border-bottom: 1px solid $calendarBorder !important;
  }

  .rbc-time-content > * + * > *,
  .rbc-time-header-content,
  .rbc-header + .rbc-header {
    border-left: 1px solid $calendarBorder !important;
  }
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}

.rbc-event {
  background-color: $primary !important;
}
